<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>

<table>
    <tr>
        <th>Mark</th>
        <th>Colour</th>
        <th>Year_of_production</th>
    </tr>

    <tr th:each="car : ${cars}">
        <td th:text="${car.getMark()}"></td>
        <td th:text="${car.getColour()}"></td>
        <td th:text="${car.getYearOfProduction()}"></td>
    </tr>
</table>
</body>
</html>